.slide{
  margin-top: 7.5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fcf1ed;
}

.img_container{
  height: 100%;
  flex: 1;
}

img{
  height: 80%;
}

.info_container{
  flex: 1;
  padding: 50px;
}

.title{
  font-size: 70px;
}

.description{
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}


.button{
  width: 8rem;
  padding: 0.8rem;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  
  
}

@media only screen and (max-width: 380px) {
  .slide{
    display: none;
  }
}

@media only screen and (max-width: 768px){
  .slide{
    display: none;
  }
}